[Keys]
#Key bindings: <key>=<regular key><shifted key><ctrl key><alt key><fn key>
#Only SYM and CTRL bindings should be changed.
#Hex values can have maximum of 4 digits.
a=aA\x01\0\0
b=bB\x02\0\0
c=cC\x03\0\0
d=dD\x04\0\0
e=eE\x05\0\0
f=fF\x06\0\0
g=gG\x07\0\0
h=hH\x08\0\0
i=iI\x09\0\0
j=jJ\x0A\0\0
k=kK\x0B\0\0
l=lL\x0C\0\0
m=mM\x0D\0\0
n=nN\x0E\0\0
o=oO\x0F\0\0
p=pP\x10\0\0
q=qQ\x11\0\0
r=rR\x12\0\0
s=sS\x13\0\0
t=tT\x14\0\0
u=uU\x15\0\0
v=vV\x16\0\0
w=wW\x17\0\0
x=xX\x18\0\0
y=yY\x19\0\0
z=zZ\x1A\0\0
1=1!\0\0\0
2=2@\0\0\0
3=3#\0\0\0
4=4$\0\0\0
5=5%\0\0\0
6=6^\0\0\0
7=7&\0\0\0
8=8*\0\0\0
9=9(\0\0\0
0=0)\0\0\0
\x2D=-_\0\0\0
\x3D=+\0\0\0
\x5B=[{\0\0\0
\x5D=]}\0\0\0
\x5C=\|\0\0\0
\x3B=;:\0\0\0
\x27='"\0\0\0
\x2C=,<\0\0\0
\x2E=.>\0\0\0
\x60=`~\0\0\0
\x2F=/?\0\0\0
#Backspace
\x08=\x08\x08\x08\x08\x08
\x7f=\x7f\x7f\x7f\x7f\x7f
#Space
\x20=\x20\x20\x20\x20\x20
#Return
\x0D=\x0D\x0D\x0D\x0D\x0D