[Keys]
#Key bindings: <key>=<regular key><shifted key><sym key><alt key><ctrl key>
#Only SYM and CTRL bindings should be changed.
#Hex values can have maximum of 4 digits.
a=aA\0\0\x01
b=bB\0\0\x02
c=cC\0\0\x03
d=dD\0\0\x04
e=eE\0\0\x05
f=fF\0\0\x06
g=gG\0\0\x07
h=hH\0\0\x08
i=iI\0\0\x09
j=jJ\0\0\x0A
k=kK\0\0\x0B
l=lL\0\0\x0C
m=mM\0\0\x0D
n=nN\0\0\x0E
o=oO\0\0\x0F
p=pP\0\0\x10
q=qQ\0\0\x11
r=rR\0\0\x12
s=sS\0\0\x13
t=tT\0\0\x14
u=uU\0\0\x15
v=vV\0\0\x16
w=wW\0\0\x17
x=xX\0\0\x18
y=yY\0\0\x19
z=zZ\0\0\x1A
1=1!\0\0\0
2=2@\0\0\0
3=3#\0\0\0
4=4$\0\0\0
5=5%\0\0\0
6=6^\0\0\0
7=7&\0\0\0
8=8*\0\0\0
9=9(\0\0\0
0=0)\0\0\0
\x2D=-_\0\0\0
\x3D=+\0\0\0
\x5B=[{\0\0\0
\x5D=]}\0\0\0
\x5C=\|\0\0\0
\x3B=;:\0\0\0
\x27='"\0\0\0
\x2C=,<\0\0\0
\x2E=.>\0\0\0
\x60=`~\0\0\0
\x2F=/?\0\0\0
#Backspace
\x08=\x08\x08\x08\x08\x08
#Space
\x20=\x20\x20\x20\x20\x20
#Return
\x0D=\x0D\x0D\x0D\x0D\x0D