.wi-input-key .enyo-input .position {
	margin: -3px -5px -3px -5px;
}
.wi-input-key .enyo-input .hidden-input {
	width: 1px;
	height: -0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	opacity: 0;
}
.wi-input-key .enyo-input .key {
	display: inline-block;
	line-height: 1em;
	border-width: 6px 4px 8px;
	-webkit-border-image: url(../images/key-display.png) 6 4 8 stretch;
    -webkit-box-sizing: border-box;
	padding: 0px 6px 4px 6px;
	margin: -5px 0px -5px 0px;
	min-width: 38px;
	text-align: center;
}