/* Base */
.vkb .key {
	margin: 1px;
	padding: 0px;
	font-weight: 700;
}
.vkb.small .key {
	margin: 0px;
	height: 48px;
	width: 53px;
	font-size: 60%;
}
.vkb.large .key {
	height: 58px;
	width: 66px;
}

.vkb.smallP .key {
	margin: 0px;
	height: 72px;
	width: 80px;
}

.vkb.largeP .key {
	margin: 0px;
	height: 62px;
	width: 80px;
}

/* Function Keys */
.vkb .functionPadding {
	height: 3px;
}
.vkb .key.small {
	background-color: #FFD2F5;
}
.vkb.small .key.small {
	height: 26px;
}
.vkb.large .key.small {
	height: 29px;
}

/* Escape */
.vkb .key.small.escape {
	background-color: #D2FFD6;
}

/* Sym */
.vkb .key.sym {
	background-color: #FFC180;
}

/* Enter */
.vkb.small .key.enter {
	width: 94px;
}
.vkb.large .key.enter {
	width: 158px;
}

/* Backspace */
.vkb .key.backspace {
	background-color: #FFFBD2;
}
.vkb.small .key.backspace {
	width: 79px;
}
.vkb.large .key.backspace {
	width: 138px;
}

/* Arrows */
.vkb .key.arrow {
	background-color: #FFFBD2;
}
/*.vkb.small .key.arrow {
	width: 50px;
}*/
/*.vkb.large .key.arrow {
	width: 70px;
}*/

/* Shift */
.vkb .key.shift-left {
	background-color: #D0D0D0;
}
.vkb.small .key.shift-left {
	width: 106px;
}
.vkb.large .key.shift-left {
	width: 144px;
}
.vkb .key.shift-right {
	background-color: #D0D0D0;
}
.vkb.small .key.shift-right {
	width: 80px;
}
.vkb.large .key.shift-right {
	width: 128px;
}

/* Caps */
.vkb .key.caps {
	background-color: #D0D0D0;
}
.vkb.small .key.caps {
	width: 91px;
}
.vkb.large .key.caps {
	width: 114px;
}

/* Spacebar */
.vkb.small .key.spacebar {
	width: 300px;
}
.vkb.large .key.spacebar {
	width: 398px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.vkb.large .key.slash {
	width: 110px;
}

.vkb.small .key.mod {
	width: 58px;
}
.vkb.large .key.mod {
	width: 76px;
}
.vkb.large .key.mod.ctrl {
	width: 91px;
}
.vkb.small .key.mod.ctrl {
	width: 68px;
}

.vkb.small .key.tab {
	width: 79px;
}
.vkb.large .key.tab {
	width: 94px;
}

.vkb .key.mod.ctrl {
	background-color: #D0D0D0;
}
.vkb .key.mod.fn {
	background-color: #D2D2FF;
	color: #0000FF;
}
.vkb .key.mod.alt {
	background-color: #D0D0D0;
}
.vkb .key.mod.meta {
	background-color: #D2D2FF;
}
.vkb .key.mod.super {
	background-color: #D2D2FF;
}

.vkb .fnBind {
	color: #0000FF;
	font-size: 80%;
	font-weight: 100;
}
.vkb.large .keyImg {
	height: 24px;
}
.vkb.small .keyImg {
	height: 16px;
}

.vkb.largeP .keyImg {
	height: 16px;
}
.vkb.smallP .keyImg {
	height: 24px;
}