.vkb.large .key {
	font-size: 18px;
	font-weight: bold;
	min-height: 42px;
	min-width: 48px;
	margin: 0px;
}


.vkb.large .key.small {
	max-height: 22px;
	min-height: 22px;
	margin-bottom: 6px;
}

.vkb.large .key.shift-left {
	-webkit-box-flex: 1;
}
.vkb.large .key.shift-right {
	min-width: 120px;
}
.vkb.large .key.ctrl-left {
	-webkit-box-flex: .6;
}
.vkb.large .key.spacebar {
	-webkit-box-flex: 4;
}

.vkb.small .key {
	font-size: 11px;
	font-weight: bold;
	min-height: 21px;
	min-width: 30px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.vkb.small .key.small {
	max-height: 12px;
	min-height: 12px;
	margin-bottom: 4px;
}

.vkb.small .key.shift-left {
	min-width: 90px;
}
.vkb.small .key.shift-right {
	min-width: 80px;
	-webkit-box-flex: 1;
}
.vkb.small .key.ctrl-left {
	min-width: 50px;
}
.vkb.small .key.spacebar {
	-webkit-box-flex: 3.8;
}
