.preferences-header {
    height: 58px;
    max-height: 58px;
}

.preferences-header .enyo-header-inner {
    padding: 3px 12px;
}

.preferences-header-image {
    padding-right: 10px;
}

.phone .enyo-preferences-box {
	width: 310px;
	margin: 0px auto 0;
}

.phone .enyo-preference-button {
	width: 180px;
	margin: 0px auto 0;
}

.enyo-popup.charSelect  {
	-webkit-border-image: url(popup1.png) 12 12 12 12 stretch stretch;
}
@media (-webkit-min-device-pixel-ratio:1.5) {
.enyo-popup.charSelect {
		-webkit-border-image: url(popup2.png) 18 18 18 18 stretch stretch;
	}
}